@import url('components/button.css');
@import url('components/cards.css');
html {
    background-color: #3A3A3A;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #14F1E4;
}
.container {
    width: 900px;
    margin: 0 auto;
}

.white {
    background: white;
    height: 300px;
}
