.btn-primary {
    border: 2px solid black;
    border-radius: 5px;
    padding: 16px 8px 16px 8px;
    text-decoration: none;
    color: #14F1E4;
    background: black;
}

.btn-submit {
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    color: #14F1E4;
    background: black;
}

.btn-delete {
    border: 2px solid white;
    text-decoration: none;
    background: #626262;

}
